@import url("https://fonts.googleapis.com/css2?family=poppins:wgt@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "poppins", sans-serif;
}
body {
  background: #0e152f;
  color: #ededed;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}
.logo-image img{
  
  width: 50px;
  height: 50px;
  margin: left 10px; ;
}

.log ::before{
  content:"";
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: red;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
}
.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 1s;
  translate: transform;
}
.navbar a:hover,
.navbar a.active {
  color: #00abf0;
  transform: scale(1.1);
}
 

.home {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10%;
  background-size: cover;
  z-index: -1;
}
/*
@media screen and (min-width: 600px){
    .home {
        grid-template-columns: 1fr 1fr;
    }
    .btn-box {
        display: flex;
        align-self: center;
    }
}*/
.home-content h1 {
  padding: 20px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
}

  .home-content h1::before{
  content:"";
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background:#0e152f;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
  position: relative;
}

.home-content h3::before{
    content:"";
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background:#0e152f;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}
.home-content p {
  font-size: 16px;
  margin: 20px 0px 40px;
  width: 50%;
  position: relative;
}
  .home-content p::before{
    content:"";
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background:#0e152f;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}
.home-content .btn-box {
  background: yellowgreen;
}
.btn-box a {
  display: inline-flex;
  background: #00abf0;
  width: 150px;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}
.btn-box a::before {
  content: "";
  position: absolute;
  top: 0 px;
  left: 0 px;
  width: 3px;
  height: 100;
  background: yellowgreen;
  z-index: -1;
  transition: 0.5s;
}
.btn-box a:hover::before {
  width: 100%;
}
.home-sci {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}
.home-sci a:hover::before {
  width: 100%;
}
.home-sci a:hover {
  color: #081b29;
}
@keyframes showRight{
  100%{
    width: 0;
  }
}